.backtest-settings__intervals {
    margin-bottom: 4rem;
}

.intervals-settings__labels {
    display: grid;
    grid-template-columns: 120px 200px 200px 120px;  
    margin-bottom: 3rem;
}

.intervals-settings__labels-item {
    font-weight: 400;
    font-size: 2rem;
    color: var(--ocean-light); 
}

.intervals-settings__form {
    display: grid;
    grid-template-columns: 120px 200px 200px 120px;
    margin-top: 1rem;
}

.intervals-settings__item {
    display: inline-block;
    vertical-align: middle;
}