.settings-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.settings-control__button {
  background-color: #362f2f;
}

.settings-control__button:hover {
  background-color: #cf7272;
}

.settings-control__button_outlined {
  background: none;
  color: #362f2f;
  border-color: #362f2f;
}

.settings-control__button_outlined:hover {
  border-color: #362f2f;
}
